h1{
    font-family: 'Playfair Display', serif;
}
h2{
    font-family: 'Playfair Display', serif;
}
h3{
    font-family: 'Playfair Display', serif;
}
body{
    color: white;
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
    cursor: none; /*もともとあるカーソルは非表示に*/
}
#cursor{
    position: fixed;
  
    /*丸の大きさと色の指定*/
    background: #fff;
    border-radius:10px;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;/*真ん中にくるようにマイナスマージンで調整*/
  
    z-index: 2;/*一番手前に来るように*/
    pointer-events: none;/*クリックできなくなるのを防ぐため。noneで対応*/
    opacity: 0;
  }
  /* .hover-line {} */
.hover-line a{
  display: inline-block;
  color:#fff;
  font-size:100%;
  text-decoration:none;
  transition: all .3s;
}
.hover-line a:hover{
  color: #fff;
  background-color: #ee2d7b;
}