@charset "UTF-8";
html {
    font-size: 100%;
}
body {
    line-height: 1.7;
    background-color: black;
}

#wid {
    position: absolute;
    column-width: 20%;
    display: flex;
	justify-content: center;
	align-items: center;
    column-gap:10%;
    top: 30%;
    right: 0;
    left: 0;
  }

.hover-line {}
.hover-line a{
  display: inline-block;
  color:#fff;
  font-size:200%;
  text-decoration:none;
  transition: all .3s;
}
.hover-line a:hover{
  color: #fff;
  background-color: #ee2d7b;
}